.about,.contact{
    height: 70vh;
    display:flex;
    flex-direction: column;
    padding: 45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    padding-bottom: 0px;
}
.about>.aboutUsHead,
.contact>.contactPageHead{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
}
.about>.aboutUsHead>span,
.contact>.contactPageHead>span{
    color: orange;
    margin-left: 15px;
}
.about>.aboutUsMainContent,
.contact>.contactPageMain{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about>.aboutUsMainContent>.aboutUsImage,
.contact>.contactPageMain>.contactPageImage{
    height: 70%;
    width: 45%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-image:linear-gradient(30deg,#3228289c,rgba(86, 14, 14, 0.762)),url("../images/about.jpg");
    background-repeat: no-repeat; 
    background-position:center;
    background-size: cover;
    border-radius: 10px;
}
.about>.aboutUsMainContent>.aboutUsImage>img,
.contact>.contactPageMain>.contactPageImage>img{
    width: 80%;
    height: 100%;
    border-radius: 30px;
}
.about>.aboutUsMainContent>.aboutUsTextContent,
.contact>.contactPageMain>.contactPageTextContent{
    /* margin-top: 60px; */
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about>.aboutUsMainContent>.aboutUsTextContent>p{
    margin-top: 30px;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>ul>li{
    height: 40px;
    width: 40px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    margin-left: 20px;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>.eachSocialLink{
    transition: all 2s;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>ul>li:hover .eachSocialLink{
    transform: translateY(-5px) translateX(3px);
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>ul>li:hover .eachSocialLink>i{
    color: white;
}
.about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks>ul>li:hover{
    background-color: #a8a8c5e6;
}
@media screen and (max-width:700px) {
    .about,
    .contact{
        height: max-content;
    }
    .about>.aboutUsMainContent,
    .contact>.contactPageMain{
        flex-direction: column;
        padding: 30px;
    }  
    .about>.aboutUsMainContent>.aboutUsImage,
    .contact>.contactPageMain>.contactPageImage{
        width: 100%;
        height: 300px;
    }
    .about>.aboutUsMainContent>.aboutUsTextContent,
    .contact>.contactPageMain>.contactPageTextContent{
        height: 40%;
        width: 100%;
    }
    .about>.aboutUsMainContent>.aboutUsTextContent>.socialLinks{
        margin-top: 15px;
    }
} 