*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.home{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-color: gray;
    background-image:linear-gradient(43deg,#74877438,#393940),url(../images/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    position: relative;
}
.home>.homeSectionContent{
    height: max-content;
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home>.homeSectionContent>div{
    margin-top: 10px;
}
.home>.homeSectionContent>.homeHeading{
    font-size: 50px;
    color: white;
}
.home>.homeSectionContent>.homeContent{
    width:70%;
}
.home>.homeSectionContent>.homeBtn{
    height: 50px;
    width: 200px;
    background-color: blue;
    border-radius:50px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home>.homeSectionContent>.homeHeading>span{
    color: orange;
    width: 200px;
}